@import "../../_css/common.scss";
.button {
  font-size: 1rem;
  background-color: $primary-color;

  @at-root #{&}__element {
  }
  @at-root #{&}--primary {
    background-color: $primary-color;
    color: $white;
    border: none;
  }

  @at-root #{&}--outline {
    background-color: inherit;
    border: solid 1px $primary-color;
    color: $primary-color;
  }

  @at-root #{&}--large {
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
  }

  @at-root #{&}--medium {
    padding: 0.4em 1.2em;
    border-radius: 0.4em;
  }

  @at-root #{&}--small {
    padding: 0.25em 1em;
    border-radius: 0.3em;
  }
}
